Options -MultiViews

RewriteEngine On
DirectorySlash Off

# Get rid of / at end of URL
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Rewrite directories to their respective HTML page
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^.]+)$ $1.html [L]

# Get rid of .html extensions 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# SSL / HTTPS Support and add www to any URLs that do not have them:
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.sandhelper.com/$1 [R=301,L]